.page.blocks

  %script{ type: "text/javascript" }
    :plain
      window.block_curr = #{defined?(block_curr) ? block_curr : "null"}

  :ruby
    max_blocks = 4
    back_max_blocks = block_curr + max_blocks < block_count

  .abso
    .line
    .line.short
    - if back_max_blocks
      .block.block_prev{ data: { block_count: block_curr-1 } } < prev
      .line
      .block.block_curr{ data: { block_count: block_curr } }= block_curr
      .line
      .block.block_next{ data: { block_count: block_curr+1 } } next >
      .line
      .line_dot
    - else
      .block.block_btn{ data: { block_count: block_count-4 } }= block_count-4
      .line
      .block.block_btn{ data: { block_count: block_count-3 } }= block_count-3
      .line
      .block.block_btn{ data: { block_count: block_count-2 } }= block_count-2
      .line
      .block.block_btn{ data: { block_count: block_count-1 } }= block_count-1
      .line
      .block.block_btn{ data: { block_count: block_count   }  }= block_count
      .line_dot
      .block_dot
  .spacer_viz

  %h3
    %span Block:
    %span.block_number
      = block_count
    %span -
    %span.hash
      #{hash.sub /^0+/, ''}

  -# TODO: add moment.js for the time.ago

  .transactions

  %a.load_more.btn{ href: js_void, class: "hidden" } Load more...

  - if APP_ENV == "development"
    %p page rendering time: #{((Time.now - @time) * 1000).to_i}ms
