:ruby
  w = keychain.dev
  block_count = w.getblockcount
  hash = w.getblockhash block_count

.s20


.abso
  .line
  .block{ data: { block_count: block_count-4 } }= block_count-4
  .line
  .block{ data: { block_count: block_count-3 } }= block_count-3
  .line
  .block{ data: { block_count: block_count-2 } }= block_count-2
  .line
  .block{ data: { block_count: block_count-1 } }= block_count-1
  .line
  .block{ data: { block_count: block_count  }  }= block_count
  .line_dot
  .block_dot
.spacer_viz

%h3.hash
  #{hash.sub /^0+/, ''}

-# TODO: add moment.js for the time.ago
%script.tx_template{ type: "text/x-handlebars-template" }
  :plain
    <h4>Infos</h4>
    <p>Time: {{time}}</p>
    <p>Confirmations: {{confirmations}}</p>
    <p>Size: {{size}}</p>
    <h4>Transactions ({{tx_count}})</h4>
    {{#each tx}}
      <p>{{this}}</p>
    {{/each}}

.transactions

- content_for :js do
  - capture_haml do
    :coffee
      tx_template = $(".tx_template").html()
      tx_template = Handlebars.compile(tx_template)

      load_transactions = (block) ->
        $.getJSON "/blocks/"+block, (data) ->
          console.log "got block", data
          block = data.block
          block.tx_count = block.tx.length
          html = tx_template block
          $(".transactions").html html

      $(".block").on "click", (evt) ->
        elem = evt.target
        block_count = elem.dataset.blockCount
        load_transactions block_count

%p page rendering time: #{Time.now - @time}

-# txs = w.listsinceblock
