%h2 Ooops!

%h4 An Error has occurred

%p Error connecting to bitcoind - Please try again in a few seconds.

%p If this error persist this means we're probably updating infrastructure at the moment to offer better experience :) please bear with us.
