body {
  background: #FAFAFA;
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.container > .right,
.container > nav a, {

  height:  0, 50px;
  margin:  0, 50px;
  padding: 0, 50px;

  width: 0;
}

.content {

}

.inline {
  display: inline-block !important;
  width: auto !important;
}

.btn-big {
  font-size: 1.6em;
}

a {
  text-decoration: none;
  color: #236fb2;
}

h1, h2, h3 {
  color: #236fb2;
}

pre {
  display: inline-block;
}

.left, .right {
  float: left;
  width: 40%;
  margin-right: 5%;
}

.left {

}

.right {

}

ul {
  list-style-type: none;
}

.clear{
  clear: both
}

.black a {
  color: black
}

.s10{ height: 10px; }
.s20{ height: 20px; }
.s30{ height: 30px; }
.s40{ height: 40px; }
.s50{ height: 50px; }

.btn {
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 10px;
  background: #236fb2;
  border: 1px solid #236fb2;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
  display: inline-block;
  cursor: pointer;
}
.btn:hover {
  background: white;
  color: #236fb2;
}

.main {
  color: #f39f16;
}

.main_bg {
  background: #f39f16;
}

label, input {
  display: block;
  margin-top: 4px;
  margin-bottom: 10px;
}

input {
  padding: 4px 8px;
}
.extra ul {
  padding-bottom: 20px;
}
.extra ul li {
  line-height: 170%;
}
.extra ul li span {
  font-weight: bold;
  width: 130px;
  display: inline-block;
}

/*viz*/

.abso {
  position: absolute;
  left: 0;
}

.block, .line, .block_dot, .line_dot {
  float: left;
  min-width: 60px;
  min-height: 60px;
}

.block {
  background: #236fb2;
  border: 3px solid #236fb2;
  color: white;
  cursor: pointer;
  text-align: center;
  line-height: 60px;
}

.block:hover {
  background: transparent;
  color: #236fb2;
}

.line.short {
  min-width: 20px;
}

.line, .line_dot {
  border-top: 3px solid #236fb2;
  position: relative;
  top: 30px;
}

.block_dot {
  border: 3px dashed #236fb2;
  background: none;
}

.line_dot {
  border-top: 3px dashed #236fb2;
}

.spacer_viz {
  height: 100px;
}

.right {
  float: right;
}

/* modal */

.modal {
  height: 80vh;
  width: 80%;
  display: none;
  background: #FAFAFA;
  overflow: scroll;
  position: absolute;
  z-index: 0;
  margin: 10vh 10%;
  border: 2px solid #AAA;
  padding: 2vh 2%;
}

.modal-close {
  position: absolute;
  right: 25px;
  top: 15px;
  font-size: 2em;
  color: #444;
  padding: 5px 12px;
  border: 1px solid transparent;
  border-radius: 6px;
}

.modal-close:hover {
  color: #222;
  border: 1px solid #666;
}

/* transactions */

.block_txs .tx a  {
  display: block;
  border-radius: 7px;
  background: #EEE;
  text-align: center;
  padding: 5px 8px;
  min-width: 600px;
  margin-bottom: 15px;
}

.block_txs .tx a:hover {
  background: #DDD;
  cursor: pointer;
}

.modal .block_txs {
  margin: 0 12%;
  margin-top: 50px;
}

.bold, .b, span.b {
  font-weight: bold;
}

.abso {
  width: 3000px;
}

.block.block_prev, .block.block_next {
  font-size: 3em;
}

.block.block_prev .text, .block.block_next .text {
  position: relative;
  top: -9px;
}

.block_cursor .block_curr:hover {
  background: #236fb2;
  color: white;
}

@media only screen and (max-width: 750px) {
  .line {
    display: none;
  }

  .abso {
    width: 100%;
  }

  .page.blocks > section {
    margin-top: -10px;
  }

  .page.blocks > section .abso {
    margin-top: -170px;
  }

  .abso {
    left: 3%;
  }

  .blocks .block {
    padding: 4%;
    display: block;
    margin: 3% 4%;
  }

  .spacer_viz {
    margin-top: 170px;
  }

  .line_dot {
    display: none;
  }

 .block_dot {
 }

}

@media only screen and (min-width: 750px) {
  .hide_on_mobile {
    display: none;
  }
}

.prev_arrow {
  width: 30px;
  margin-top: -10px;
  margin-left: 10px;
  font-size: 2em;
  font-weight: bold;
}
